@model Drink

<div class="col-sm-3 col-sm-4 col-sm-4 my-1">
    <div class="table-hover">
        <img src="~/Images/xxx.png" alt="" />
        @*@Model.ImageThumbnailUrl*@
        <div class="figure-caption">
            <h3 class="float-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a>@Model.Name</a>
            </h3>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model.DrinkId">
                    Add to cart
                </a>
            </p>
        </div>
    </div>
</div>
